body{
    font-family: Montserrat,sans-serif !important;
}
.container{
    margin-left: 10%;
    margin-right: 10%;
}
header .container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
header img{
    max-width: 120px;
    max-height: auto;
}
nav{
    display: flex;
    align-items: center;
}
nav .main-nav{
    float: none;
    margin-left: auto;
    margin-right: auto;
    
}
nav a{
    float: left;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: 200px;
    color: #000;
}
.container button{
    color: #05f;
    border: none;
    background-color: #ffdc1c;
    border-color: #ffdc1c;
    font-weight: bold;
    padding: 10px 40px;
    font-size: 1em;
}

.services{
    background: #f1f1f1;
}
.service-row{
    display: flex;
    padding: 50px;
}

.img-column{
    width: 50%;
}
.img-column img{
    max-width: 480px;
    width: 480px;

}

.details-column{
    width: 50%;
    margin-left: 5%;
}
.details-column img{
    max-width: 65px;
}
.description-2{
    background: #e9ebff;
    padding: 10px 20px;
}

.fixed-nav{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 2;
    height: 70px;
    min-height: 70px;
    width: 85%;
    margin: auto;
    background: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    padding: 0 2rem;

}

.services-navbar-items{
    display: flex;
    margin: 10px;
    cursor: pointer;
}

.active {
    font-weight: bolder;
}


  